// @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700)
//
// // override existing bootstrap variables when at all possible
// // https://github.com/ericching/meteor-bootstrap-stylus/blob/master/bootstrap/variables.styl
// //
// // ONLY YOU CAN PREVENT CSS BLOAT
//
// $font-family-sans-serif = 'Lato', sans-serif
// $font-family-serif = 'Lato', sans-serif
// $font-size-base = 20px
// $gray-base = #FFF
// $brand-primary = $gray-base
// $panel-bg = rgba(255,255,255,0.3)
// $navbar-default-bg = rgba(255,255,255,0.1)
// $panel-default-heading-bg = rgba(0,0,0,0)
//
// @import '../.meteor/local/build/programs/web.browser/packages/innovae_bootstrap-stylus/bootstrap'

.well, .well-sm
  background-color rgba(255, 255, 255, 0.2)

*
 font-weight 300
 letter-spacing 0.1em
 // transition all 1s ease

h1, h2, h3, .navbar-brand
 font-weight 100 !important

.ganttPriority-block
 position absolute
 height 100%

.page-header
 margin-top 0px !important

.flex-row
 display flex

.flex-col-3
 flex-basis 25%

.flex-col-3.future
 order 0
.flex-col-3.past
 order 1

.flex-col-9
 flex-basis 75%
 position relative

.flex-col-9.future
 order 1
.flex-col-9.past
 order 0

// .affix
//  position fixed
//  top 0
//
// .affix, .affix-top
//  z-index 1

.btn-info *
 color black

.ganttPriority-block
 border 1px black solid

.pane
 background-color rgba(255, 255, 255, .4)

.now-element
 border 2px black solid

 .page-header
  padding-bottom 0px
  margin-top 0
  margin-bottom 0
  border-bottom none

.right-now
 background-color white

.yet-to-be
 background-color rgba(255, 255, 255, .4)

.in-the-past
 background-color rgba(0, 0, 0, .5)

 .display-name, .nice-time
  color rgba(255, 255, 255, .4)

.whenever
 background-color rgba(255, 255, 255, .4)

// .focused?
 // background-color rgba(255, 0, 0, .3) !important
 // color white
 // border rgba(255, 0, 0, .3) 2px solid

 input
  color black

.col-lg-4
 overflow-y scroll

svg
 //
 // #now-line
 //  z-index 75
 //  height 100%
 //  stroke black

 #past-box
  z-index 76
  height 100%
  stroke black
  fill rgba(0, 0, 0, .3)

 rect
  z-index 100

 // .right-now
 //  // fill white
 //  // stroke rgba(0, 0, 0, .5)
 //
 // .yet-to-be
 //  // fill rgba(255, 255, 255, .4)
 //  // stroke rgba(255, 255, 255, .5)
 //
 // .in-the-past
 //  // fill rgba(0, 0, 0, .5)
 //  // stroke rgba(191, 191, 191, .25)

.left.col li
 border-width 2px
 &.focused
  font-size 150%

ul
  -webkit-padding-start 10px !important

.line
 fill none
 stroke steelblue
 stroke-width 1.5px
