#horizon,
#sky
 z-index: -9

#water,
#sun
 z-index: -8

#darknessOverlay
 z-index: -5

#sunDay,
#sunSet
 z-index: -4

#darknessOverlaySky
 z-index: -3

#horizonNight
 z-index: -2

#sun
 background-repeat no-repeat
 height 100%
 left 0%
 opacity 0.5
 position absolute
 top 0px
 width 100%

#horizon
 background -moz-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%)
 background -ms-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%)
 background -webkit-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%)
 background linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%)
 background-repeat no-repeat
 cursor pointer
 height 100%
 left 0
 opacity 0.99
 position absolute
 top 0px
 width 100%

#sky
 cursor pointer
 height 100%
 left 0px
 position absolute
 top 0px
 width 100%

// #water
//  background -moz-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%)
//  background -ms-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%)
//  background -webkit-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%)
//  background linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%)
//  background-repeat no-repeat
//  bottom 0px
//  height 50%
//  left 0px
//  overflow hidden
//  position absolute
//  width 100%

#darknessOverlay
 background-color #000
 bottom 0px
 cursor default
 height 100%
 left 0px
 opacity 0
 position absolute
 width 100%

#sunDay
 background-repeat no-repeat
 height 100%
 left 0px
 position absolute
 top 0px
 width 100%

#sunSet
 background-repeat no-repeat
 height 100%
 left 0px
 position absolute
 top 0px
 width 100%
 // z-index: 999;

#darknessOverlaySky
 background-color #000
 height 100%
 left 0px
 opacity 0
 position absolute
 top 0px
 width 100%

#horizonNight
 background -moz-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%)
 background -ms-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%)
 background -webkit-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%)
 background linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%)
 background-repeat no-repeat
 cursor pointer
 height 100%
 left 0
 position absolute
 top 0px
 width 100%

#sunBackground *
 position: fixed !important
