.container
 .col-xs-12
  .well-sm
   h1 tymtu docs
   hr
   .alert.alert-danger
    h4 Warning!
    p Secondly, tymtu is a highly experimental UI. It is far from complete and as of this writing, barely qualifies as "feature complete." 
   hr
   a(href='https://spacecamp-tymtu.slack.com') slack
   hr
   h3 What is tymtu?
   p Tymtu is a web app which allows you to visualize and annotate your personal time in a new way. It is a calendar, a to-do list, a quantified-self database, a personal knowledge wiki and a productivity tool. 

   h3 Basic ideas
   ul
    li Tymtu uses a data api to manage a user's google calendar's
    li An 'event' is a range of time. Example: 'dentist appointment, 1/2/16 10 am'
    li Some events repeat. Example 'gym, every weekday, 7pm'. These types events form horizontal 'tracks'.
    li Events may have states:
    ul
     li Done / stopped - this event is completed successfully
     li Ignored / paused - this event is unimportant
     li Focused / recording - this event holds the user's current attention. Only one event at a time may be 'focused.' The user herin has access to edit the data journal for event.
     li Visualed / playing - the user is inspecting the result of the data journal for a track of events.
    li The focus of the user is tracked by the 'focus' state.
    li The left column is the 'Priority Queue', which is a list of 'prime' events, sorted by priority.

   h3 unfocused mode
   ul
    li Unfocused mode is basically a ganttPriority chart
    li Cardingal directions are
     ul
      li North = high prioity
      li South = low prioity
      li East = future
      li West = past
    li The sorting of events within tracks is by time
    li The sorting of tracks is via a complex sorting algorithm, incorporating the state and startTime of the 'prime' event. 
    li The "prime" event is the most important event within a track for a given search range. It is the current event, the next event or else is the previous event. It has a red border, as opposed to the blue, unprime elements.
    li Prime events are also shown in the left hand side Priority Queue.

   h3 Recording mode
   ul
    li When focused on a track, the user can write "journals", which are annotations of data on the timeline. These journals are a form of note-taking but also serve as a time-series database for "quantified-self" data.

   h3 Playing mode
   ul
    li When playing a track, the user cann visualize a track of events.

   h3 data journals
   p
    |tymtu uses a novel UI component called a 'data journal' to annotate timelines. It is similar to a wiki editor or code editor, however, the data journal is based on
    a(href='http://json-schema.org/') json schemas.
    |The data journal editor is essentially a sophisticated JSON editor, which incorporates JSON schemas to enforce data constraints. Both the model of the data and the schema are presented in text views for convenience. Users also have access to a shared pool of common JSON schemas.
   ul
    each schemas
     li
      h4= title
      pre= dump 
  
   h3 credits
   p chart by Paulo Fix from the Noun Project
