.container
 .col-xs-12
  .well-sm
   h1 tymtu tutorial
   hr
   p "The past is a memory. It is a thought arising in the present.
   p The future is merely anticipated. It is another thought arising now.
   p What we truly have is this moment... and this... and this." - Sam Harris
   hr
   h2
    |Q: What is tymtu?
   h3 A: Tymtu is a personal timeline app. 
   p Tymtu organizes your life into lines of events. You can view any range of times on the timeline, annotate lines with notes and track your attention. Tymtu serves the purposes of a calendar, agenda, journal and to-do list. It can track these details on the scale of minutes or your entire life at once!
   hr
   h2 Lets' make your Life Event.
   p This event will represent your mortal lifespan.
   +autoForm(collection='Events' type="insert" id="birthTutorialForm" doc=lifeEvent)
    +afQuickField(name="displayName" type='hidden')
    +afQuickField(name="startTime" label="What is your birthday?")
    +afQuickField(name="endTime" label="When do you expect to die?")
    span
     |You think you'll live to be: 
     b= yearsOld
    button.btn.btn-primary.pull-right(type="submit") Insert
