// http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/

leftColWidth = 275px

#mobile .col-xs-12
  padding-left 0px
  padding-right 0px

.navbar
  margin-bottom 0px

body
  margin 0

  .tymtuRow, .col
    overflow hidden
    position absolute

  .tymtuRow
    left 0
    right 0

  #mobile
    .col
      top 8em
  #desktop
    .col
      top 8em

  #desktop .col
    bottom 0

  .scroll-x
    overflow-x auto

  .scroll-y
    overflow-y auto

  ul#priority-queue
   list-style-type none
   padding 0
   margin 0

   li
    padding 0 0 0.5em 0.5em

  .header.tymtuRow
   background-color orange
   z-index 1

  .body.tymtuRow
    // top 7em
    height 100%
    bottom 0px

  .footer.tymtuRow
    height 0px
    bottom 0
    line-height 0px

  .left.col.left-quart
    width leftColWidth

  .left.col.left-full
    width 100%

  .right.col
    left leftColWidth
    right 0

  .input-group.datetimepicker
   width 50%
  #from
   float left
  #to
   float right
