head
 link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css')
 title tymtu
 link(rel="icon" type="image/png" href="/favicon.png?v=2")

template(name='main')
 style.
  {{reactiveStyle}}
 //- http://codepen.io/msaetre/pen/nlsJL/?editors=110
 #sunBackground
  #sun(style=sunStyle)
  #sunDay(style=sunDayStyle)
  #sunSet(style=sunSetStyle)
  #sky(style=skyStyle)
  #horizon(style=horizonStyle)
  #horizonNight(style=horizonNightStyle)
  #darknessOverlaySky(style=darknessOverlaySkyStyle)
 
 +yield

template(name='frame')
 if currentUser
  if alphaUser
   .navbar-header
    .navbar-brand #[a(href='/') tymtu]
    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
     span.sr-only Toggle navigation
     span.icon-bar
     span.icon-bar
     span.icon-bar
   .collapse.navbar-collapse#bs-example-navbar-collapse-1
    ul.nav.navbar-nav.navbar-left
     li.dropdown
      a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") refresh
      ul.dropdown-menu
       li #[a#refresh-data-google-calendar(href="#") google calendar]
     li #[a(href="/events") all events]

    ul.nav.navbar-nav.navbar-right
     +loginButtons

   +reactWrapper
  else
   p You do not have sufficient permisssions to continue.
 else
  .container
   .row
    .col-lg-7.col-md-7
     .well-sm
      .page-header
       h1 tymtu
      p
       |a GTD app with a experimental gantt-based UI. Functionally, tymtu can best be described as a remake of 
       a(href="http://orgmode.org/") Emacs org-mode.
      +loginButtons

template(name='secret')
 .container
  .row
   .col-xs-12.col-lg-4.col-lg-offset-4.text-center
    .alert.alert-success
     if currentUser
      h3
       a(href='/') It's time to get started!
     else
      h3 Welcome to tymtu alpha.
     hr
     +loginButtons
